@charset "UTF-8";
:root {
  --content-width: 1320px;
}

/* 공통UI */
a.common-btn {
  display: inline-block;
  width: 180px;
  height: 60px;
  font-size: 20px;
  color: white;
  line-height: 60px;
  text-align: center;
  border-radius: 5px;
  background: #D20B2F;
}
/* 메인 배너 */
#mainbanner {
  background-image: url('../img/new/desktop_main3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

#mainbanner .inner {
  position: relative;
  width: var(--content-width);
  height: 100vh;
  margin: 0 auto;
}

#mainbanner .maintext {
  position: absolute;
  text-align: left;
  width: 100%;
  min-height: 254px;
  top: calc(50% - 207px);
}

/* 메인 배너 메인 타이틀 */
#mainbanner .maintext p.maintitle {
  font-size: 50px;
  line-height: 60px;
  color: #333333;
}

/* 메인베너 서브타이틀 */

#mainbanner .maintext a.common-btn {
  margin-top: 20px;
}

#wrap {
  width: var(--content-width);
  margin: 0 auto;
  background: #f1f1f1;
}

/* 상단 고정형 메뉴 */
#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  box-sizing: border-box;
  background: rgba(244, 244, 244, 0.8);
}

#logo { float: left; }

#header .h-inner {
  width: var(--content-width);
  margin: 0 auto;
  padding: 35px 25px 45px;
}

#header .inner { float: right; }

#header .inner #gnb {
  margin-right: 103px;
}

#header .inner #gnb li {
  margin-left: 47px;
}

/* gnb,login-menu 메뉴간격 */
#header .inner #gnb li:first-child, #header .inner #sns li:first-child{
  margin-left: 0px;
}

#header .inner #sns li {
  margin-left: 30px;
  min-height: 100px;
  padding: 10px;
  border: 1px solid #f1f1f1;
}

/*
#header .inner #login-menu li:first-child {
  margin-left: 0px;
} */

/* #header .inner #login-menu, #gnb {
  float: left;
} */
#header .inner ul {
  overflow: hidden;
  float: left;
}

#header .inner ul li {
  float: left;
  height: 20px;
}

#header .inner ul li a {
  line-height: 20px;
}

#header .inner #login-menu li span.count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  float: right;
  font-size: 14px;
  /* color: white; */
  color: black;
  border-radius: 100%;
  background: #ffc01d;
  margin-left: 4px;
}

/* 컨텐츠 영역 */
#container section .inner {
  width: var(--content-width);
  min-height: 650px;
  margin: 0 auto;
  text-align: center;
}

#container section .inner h2 {
  font-size: 45px;
  line-height: 1;
  color: #333333;
}

#container section .inner .subtitle {
  margin-top: 21px;
  font-size: 24px;
  line-height: 36px;
  color: #666666;
}

#container section .inner .box-wrap{
  overflow: hidden;
}
#container section .inner .box-wrap li {
  float: left;
  width: 25%;
  padding: 0 20px;
  box-sizing: border-box;
}

#container section .inner .box-wrap li .items {
  border: 1px solid #e3e3e3;
  padding: 45px 0;
  min-height: 270px;
  box-sizing: border-box;
}

#container section .inner .box-wrap li .items h3 {
  font-size:  20px;
  line-height: 1;
  color: #252525;
}

#container section .inner .box-wrap li .items p {
  margin-top: 30px;
  padding: 0 50px;
  line-height: 24px;
}

#container section .inner .box-wrap li .items img {
  margin-top: 32px;
  opacity: 0.8;
}
/*제휴회사 레이아웃*/
#container section .inner .thumb-img-wrap {
  text-align: center; /*자식요소 ul을 가운데 정렬하겟다.*/
}

#container section .inner .thumb-img-wrap ul {
  display: inline-block;/*자식요소 li의 컨텐츠 크기만큼 너비가 지정된다.*/
}

#container section .inner .thumb-img-wrap ul:nth-child(1) {
  margin-top: 75px;
}

#container section .inner .thumb-img-wrap ul:nth-child(2) {
  margin-top: 50px;
}

#container section .inner .thumb-img-wrap ul li {
  display: inline-block;
  float: left;
  width: 16.666%
}

#container section .inner .thumb-img-wrap ul li a img {
  width: 100%; /*이미지가 초기값 220px 이상 또는 이하로 변경시 li에 %기준으로 변경*/
}

/*section3 style*/
#container section .inner .box {
  float: left;
  width: 50%;
  min-height: 650px;
}

#container section .inner .box.img {
  background-size: cover;
}

#container section .inner .box .text-box {
  margin-top: 165px;
  display: inline-block;
  text-align: left;
}

#container section .inner .box .text-box a.common-btn {
  margin-top: 43px;
}

#container section:nth-child(3) .inner .box.img {
  background-image: url('../img/new/beautycut_cc_rb.png');
}

/* #container #first .inner {
  background: green;
}

#container #second .inner{
  background: blue;
}

#container #third .inner{
  background: green;
}

#container #fourth .inner{
  background: blue;
}

#container #fifth .inner{
  background: green;
} */
#container section:nth-child(1) .inner{
  padding-top: 165px;
  box-sizing: border-box;
}

#container section:nth-child(2) {
  background: #f9f9f9;
}

#container section:nth-child(2) .inner {
  min-height: 652px;
  padding-top: 146px;
  box-sizing: border-box;
}

/*section4 style*/
#container section:nth-child(4) {
  background-image: url('../img/new/key_visual_about_1920.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#container section: .inner .box {
  float: left;
  width: 50%;
  min-height: 650px;
}

#container section: .inner .box.img {
  background-size: cover;
}

#container section:nth-child(4) .inner .box .text-box .light-text {
  font-size: 42px;
}

#container section: .inner .box .text-box {
  margin-top: 165px;
  display: inline-block;
  text-align: left;
}

#container section:nth-child(4) .inner .box .text-box h2 {
  color: white
}

#container section:nth-child(4) .inner .box .text-box .subtitle {
  color: white
}

#container section: .inner .box .text-box a.common-btn {
  margin-top: 43px;
}

/*section5 style*/
#container section:nth-child(5) {
  background-image: url('../img/new/key_visual_betterdays_1920.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#container section .inner .box {
  float: left0;
  width: 50%;
  min-height: 650px;
}

#container section .inner .box.img {
  background-size: cover;
}

#container section:nth-child(5) .inner .box .text-box .light-text{
  font-size: 42px;
}

#container section .inner .box .text-box {
  margin-top: 227px;
  display: inline-block;
  text-align: left;
}

#container section:nth-child(5) .inner .box .text-box a.common-btn {
  margin-top: 43px;
}

#container section:nth-child(5) .inner .box .text-box h2 {
  color: white;
}

#container section:nth-child(5) .inner .box.img {
  background-image: url('../img/new/better_days_img_4.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}

/*하단영역*/
#footer {
  background: #D20B2F;
}

#footer .inner {
  position: relative;
  width: var(--content-width);
  height: 250px;
  padding: 50px 20px 0;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

#footer .inner .f-box {
  float: left;
}

#footer .inner .f-box:nth-child(2) {
  padding-left: 75px;
}

/*site menu*/
#footer .inner .f-box ul {
  overflow: hidden;
}

#footer .inner .f-box ul li {
  float: left;
  height: 20px;
  margin-left: 100px;
}

#footer .inner .f-box ul li a {
  line-height: 20px;
  color: #fff;
}

#footer .inner .f-box .copyright {
  margin-top: 23px;
  margin-left: 100px;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
}

#familysite {
  position: absolute;
  width: 190px;
  height: 30px;
  top: 40px;
  right: 20px;
  padding: 0 30px 0 15px;
  border: 1px solid #d1d1d1; /* 선택바 변경사항*/
  box-sizing: border-box;
  outline: none; /* 선택바 눌렀을 때 뜨는 외부 라인 없애는 법*/
  appearance:none; /*기존 arrow image 삭제*/
  background-image: url('../img/select_box_arrow.png');
  background-repeat: no-repeat;
  background-position: calc( 100% - 11px ) center;
}

#familysite:focus {
  border: 1px solid #9d9d9d;
}
